.Room {
    width: 450px;
    height: auto;
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding-left: 16px;
    text-align: left; 
    overflow: hidden;
}

.text-and-button p {
    display: inline-block;
}

button {
    color: #125c41;
}
.button1 {
    color: red
}