body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3EFF5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  position: central;
  text-align:center;
}

.App .Game {
  background-color: #d0d0dd;
}

.App .Game img {
  position: relative;
  right: -368px;
  opacity: 0.8;
  max-width: 50%;
  height: 140%;
  top:-65px;
}

.loginButton {
  background-color: #80C2AF; /* Green */
  border: none;
  color: #F3EFF5;
  padding: 5px 67px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
}

.RegistrationPanel .gotoLoginButton {
  position: relative;
  left: -10px;
}

.RegistrationPanel .registrationButton {
  background-color: #80C2AF; /* Green */
  border: none;
  color: #F3EFF5;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}